# Segredos — NUNCA commitar
.env
.env.local
.env.production
*.pem
*.key
serviceAccountKey.json
firebase-adminsdk*.json

# Node
node_modules/
npm-debug.log*
yarn-error.log

# Logs
logs/
*.log


# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/